.heroes-enter {
    opacity: 0;
}
  
.heroes-enter-active {
    opacity: 1;
    transition: opacity 400ms;
}

.heroes-enter-done {
    opacity: 1;
    visibility: visible;
}

.heroes-exit {
    opacity: 1;
}

.heroes-exit-active {
    opacity: 0;
    transition: opacity 400ms;
}